.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}
.text-field{
    width: 300px;
    height: 56px; 
}

.Catalog-textfield{
    margin-top: 19px;
    margin-bottom: 19px;
}