.EmployeeDashboard{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00aaff, #0047ab);
    width: 100vw;
    gap: 54px;
    flex-direction: row;
}

